<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="/assets/threads-app-icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/CSS/404.css">
</head>

<body>
    <main>
        <span class="logo">
            <img src="/assets/threads.png" alt="thread-icon">
        </span>

        <div class="container">
            <span class="status-code">
                <p>404</p>
            </span>
            <span class="pnf">
                <p>PAGE NOT FOUND</p>
            </span>
        </div>

        <div class="threads-img">
            <img src="/assets/threads_rotated_180.png" alt="photo">
        </div>

    </main>
</body>

</html>